.App {
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #545E75;
}
.designText {
  font-family: "Share Tech Mono", sans;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #FFFFFF;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


#drum-machine {
  width: 1200px;
  height: 700px;
  background-color: #82A0BC;
  display: flex;
}

.drum-pad-machine {
  width: 600px;
  height: 450px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  align-content: left;
}

.drum-pad {
  width:200px;
  height:150px;
  background-color: white;
  font-size: 50px;
}

#display {
  width: 300px;
  height: 300px;
  align-content: right;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}
